<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChemistApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
				<key>dateExpires</key>
				<string>3/26/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SoundWave.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ACBF27E946D61C4FCB95F5DBE8ABCCDAF2F48C4B</string>
						<key>dateExpires</key>
						<string>3/26/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2Y23VVMDSG</string>
						<key>name</key>
						<string>My Personal Health Record Express, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2Y23VVMDSG.com.mphrx.ChemistApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2Y23VVMDSG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ChemistApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4d5d4a4e-05f5-45f9-ba17-9c4417058959</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mphrx.ChemistApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2Y23VVMDSG</string>
				<key>name</key>
				<string>My Personal Health Record Express, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
